*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Display", sans-serif;
    background-color: #00000094;
    overflow-X: hidden;
    background-color: #f5f5f7;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    background-image: url(events/events.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    padding-top: 55px;
    background-size: cover;
    background-repeat: no-repeat;
}
.writing{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: large;
    font-style: bold;
    height: 100%;
    
}
.p{
    color: #2997ff;
}
.h2{
    margin-top: 5%;
    margin-bottom: 3%;
}
.announced{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iphone{
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.img1{
    width: 40%;
    border-radius: 10px;
}
.writing2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f5f5f7;
}
.p1{
    margin-top: 2%;
    font-size: large;
    line-height: 120%;
    margin-bottom: 2%;
}
.iphone14{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.img2{
    width: 40%;
    border-radius: 10px;
}
.writing1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.airpods{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.img3{
    width: 40%;
    border-radius: 10px;
}
.watch{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.img4{
    width: 40%;
    border-radius: 10px;
}
.promax{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.img5{
    width: 40%;
    border-radius: 10px;
}
.SE{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.img6{
    width: 40%;
    border-radius: 10px;
}
.Fitness{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.img7{
    width: 40%;
    border-radius: 10px;
}
.h1{
    text-align: center;
}
.events{
    margin-top: 5%;
    width: 100%;
    height: 85vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.recent{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.wwdc{
     margin-top: 8%;
     margin-left: 10%;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 20%;
    border-radius: 10px;
}
.img8{
    width: 100%;
    height: 40%;
    border-radius: 10px;

}
.writing3{
    color: #1d1d1f;
    font-size: small;
    
}
.p2{
    margin-top: 2%;
    font-size: medium;
    line-height: 120%;
    margin-bottom: 2%;
    font-style: light;
    color: #424245;
}

.blues{
    display: flex;
    flex-direction: column;
   color: #0066cc;
   margin-top: 6%;
}
.event1{
    margin-top: 8%;
    margin-left: 1.5%;
   background-color: #f5f5f7;
   display: flex;
   flex-direction: column;
   height: 80%;
   width: 20%;
   border-radius: 10px;
}
.ref{
    color: #0066cc;
    text-decoration: none;
    text-align: center;
    margin-top: 4%;
}
