*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Display", sans-serif;
    background-color: #F5F5F7;
    overflow-X: hidden;
}

.img{
    background-image: url(legal/legal.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    padding-top: 55px;
    background-size: cover;
    background-repeat: no-repeat;
}
.writing{
    display: flex;
    flex-direction: column;
    font-size: large;
    font-style: bold;
    margin: 10%;
    
}
.h{
    margin-bottom: 2%;
}
.events{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.events li{
    list-style: none;
    margin: 0.5%;
    margin-left: 24px;
}
.ware{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.hard{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    width: 35%;
}
.soft{
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.img1{
    width: 35%;
    height: 35%;
}
.writing2{
    display: flex;
    flex-direction: column;
}
.p{
    color: #0066cc;
    margin-top: 4%;
    margin-bottom: 5%;
}
.ethics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.h2{
    text-align: center;
    margin-bottom: 3%;
}
.p1{
    color: #0066cc;
    margin-top: 4%;
    margin-bottom: 5%;
    text-align: center;
}
.img3{
    width: 20%;
    height: 20%;
    margin-top: 2%;
}
.img4{
    width: 15%;
    height: 10%;
}
.soft2{
    margin-top: 8%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.soft3{
    margin-top: 8%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.policy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.p2{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.property{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    width: 35%;
}
.ressources{
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
    width: 35%;
}
.img5{
    width: 15%;
    height: 10%;
}
